.order_detail > p {
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	background-color: rgba(255,255,255,0.8);

}

.ticket_input {
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:hover {
	color: white;
}

#login-SSO {
	background-color: white;
	display: none;
	height: 100%;
	padding: 30px;
}

#login-SSO .card-body {
	margin-top: 30px;
}

#login-SSO .card-body .sso.facebook img {
	width: 250px;
}

#login-SSO .card-body .sso.google img {
	width: 230px;
}

.acc-button.download {
	padding: 10px 15px;
	font-size: 12px;
}
.ticket-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

#vip-limited p {
	margin: 0 0 20px;
	color: white;
	font-weight: bold;
	font-size: 18px;
}

.ticket{
	width: 280px;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	border: 1px solid rgba(255,255,255,0.8);
}

.ticket-title{
	font-size: 20px;
	height: 64px;
	padding: 10px;
}

.ticket-desc{
	padding: 10px;
	height: 110px;
	font-size: 20px;
	background-color: rgba(255,255,255,0.8);
}

.price{
	padding: 10px;
	font-size: 20px;
	height: 45px
}


.price p, .ticket_price p{
	margin-bottom: 0;
}

.ticket_price p{
	font-size: 22px;
}
.ticket-quantity{
	padding: 10px;
}

.ticket_price{
	padding: 10px;
	font-size: 20px;
	background-color: rgba(255,255,255,0.8);
	height: 45px;
}

.payvia {
	margin-top: 40px;

}

#redeemed:hover {
	background-color: #F2F2F2 !important;
}