/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: normal;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
  -moz-osx-font-smoothing: grayscale;
  /* Fixes font bold issue in Firefox version 25+ on Mac */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section {
  display: block;
}

body, html {
  height: 100%;
  line-height: 1;
  letter-spacing: 1px;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

@font-face {
  font-family: "bbbi";
  src: url("../fonts/bbbi.eot?") format("eot"), url("../fonts/bbbi.woff") format("woff"), url("../fonts/bbbi.ttf") format("truetype"), url("../fonts/bbbi.svg#bbbi") format("svg");
}

@font-face {
  font-family: "dinbla";
  src: url("../fonts/DINPro-Black.eot?") format("eot"), url("../fonts/DINPro-Black.woff") format("woff"), url("../fonts/DINPro-Black.ttf") format("truetype"), url("../fonts/DINPro-Black.svg#dinbla") format("svg");
}

@font-face {
  font-family: "dinmed";
  src: url("../fonts/DINPro-Medium.eot?") format("eot"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype"), url("../fonts/DINPro-Medium.svg#dinmed") format("svg");
}

.f-white {
  color: #F2F2F2;
}

.f-blue {
  color: #32a1db;
}

.f-red {
  color: #ef3f40;
}

.f-green {
  color: #8ec73f;
}

.f-black {
  color: #171728;
}

h1,
h2,
h3,
h4 {
  font-family: bbbi;
  line-height: 1.4em;
}

p {
  font-family: dinmed;
  margin-bottom: 15px;
  line-height: 1.2em;
}

p.bold {
  font-family: dinbla;
  font-size: 18px;
}

p .disclaimer {
  font-size: 12px;
}

.slick-dots {
  z-index: 9;
  box-sizing: border-box;
  bottom: 20px;
  height: 20px;
}

.slick-dots li {
  margin: 0 4px;
}

.slick-dots li button:before {
  content: "";
  font-size: 6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #F2F2F2;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #F2F2F2;
}

.slick-slide {
  outline: none !important;
}

.slick-list {
  outline: none !important;
}

.slick-slide:focus {
  outline: none !important;
}

.slick-prev,
.slick-next {
  display: block;
  position: absolute;
  z-index: 2;
}

.slick-prev {
  left: -50px;
  z-index: 9;
  width: 40px;
  height: 40px;
  background-image: url("/images/icon/prev.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  opacity: 0.5;
}

.slick-prev:before {
  content: '';
}

.slick-prev:hover, .slick-prev:focus, .slick-prev:active {
  background-image: url("/images/icon/prev.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  opacity: 1;
}

.slick-next {
  right: -50px;
  z-index: 9;
  width: 40px;
  height: 40px;
  background-image: url("/images/icon/next.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  opacity: 0.5;
}

.slick-next:before {
  content: '';
}

.slick-next:hover, .slick-next:focus, .slick-next:active {
  background-image: url("/images/icon/next.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  opacity: 1;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.product-img-slider .slick-prev {
  left: 10px;
}

.product-img-slider .slick-next {
  right: 10px;
}

.nav-button {
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  color: #171728;
  text-transform: uppercase;
  margin: 0 15px;
  font-family: dinbla;
  display: inline-block;
  cursor: pointer;
}

.nav-button:hover {
  color: #ef3f40;
}

.nav-button:last-child {
  margin-right: 0;
}

.acc-button {
  padding: 15px 20px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-family: dinbla;
  text-transform: uppercase;
  margin-right: 10px;
  background-color: transparent;
  font-size: 14px;
  background-color: #171728;
  color: #F2F2F2;
}

.acc-button:hover {
  background-color: #F2F2F2;
  color: #ef3f40;
}

.acc-button a {
  text-decoration: none;
  color: #F2F2F2;
}

.acc-button a:hover {
  color: #ef3f40;
}

input.acc-button {
  border: none;
}

.acc-wrapper {
  position: relative;
  width: 100%;
}

.acc-wrapper .acc-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.acc-wrapper .acc-header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 300px;
}

.acc-wrapper .acc-header .logo img {
  width: 100%;
}

.section {
  padding: 40px 20px;
  text-align: center;
}

.section.bg-red {
  background-color: #ef3f40;
}

.section.bg-img {
  background-image: url("../images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}

.footer {
  padding: 10px 10px;
  width: 100%;
  background-color: #F2F2F2;
  text-align: center;
}

.divider {
  width: 100px;
  height: 5px;
  margin: 10px auto 30px;
}

.divider.red {
  background-color: #ef3f40;
}

.divider.white {
  background-color: #F2F2F2;
}

.divider.green {
  background-color: #8ec73f;
}

.divider.blue {
  background-color: #32a1db;
}

.divider.black {
  background-color: #171728;
}

.partnerlogo {
  width: 250px;
  display: inline-block;
}

.partner-content {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.pearlimg {
  margin-bottom: 20px;
}

.nav {
  background-color: #F2F2F2;
  padding: 15px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.9);
}

.nav.faq {
  display: inherit;
}

.nav .logo {
  width: 50px;
}

.nav .logo img {
  width: 100%;
}

.nav .nav-toggle {
  margin-left: auto;
  cursor: pointer;
  width: 40px;
}

.nav .navigation-mobile {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -110vh;
  left: 0;
  z-index: 99;
  background-color: #F2F2F2;
  transition: all 1s ease-in-out;
}

.nav .navigation-mobile .close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  cursor: pointer;
}

.nav .navigation-mobile .mobile-nav-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav .navigation-mobile .mobile-nav-wrapper .nav-button {
  text-align: center;
  margin: 15px 15px;
  display: block;
}

.nav .navigation-mobile.active {
  top: 0;
}

.nav .navigation-desktop {
  display: none;
}

@media all and (min-width: 1024px) {
  .nav .nav-toggle {
    display: none;
  }
  .nav .navigation-mobile {
    display: none;
  }
  .nav .navigation-desktop {
    display: block;
    margin-left: auto;
  }
}

.logotrigger {
  cursor: pointer;
}

.event-info-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ef3f40;
}

.event-info-wrapper .event-img {
  width: 100%;
  margin-bottom: 20px;
}

.event-info-wrapper .event-info {
  text-align: center;
}

.event-info-wrapper .event-info .logo {
  width: 150px;
  margin: 0 auto 15px;
}

@media all and (min-width: 1024px) {
  .event-info-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
  }
  .event-info-wrapper .event-img {
    width: 50%;
  }
  .event-info-wrapper .event-info {
    padding: 20px;
    width: 50%;
  }
}

.about-info-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.artist {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.artist p {
  max-width: 700px;
  margin: 0 auto 20px;
}

.artist .artist-wrapper {
  text-align: center;
}

.artist .artist-wrapper .artist-img {
  width: 90%;
  max-width: 330px;
  margin: 15px;
  display: inline-block;
}

.ticket-section {
  text-align: center;
}

.ticket-section .ticket-img {
  margin: 15px;
}

@media all and (min-width: 768px) {
  .ticket-section .ticket-img {
    display: inline-block;
    width: 40%;
  }
}

.schedule-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #f8fafc;
}

.table-sm td,
.table-sm th {
  padding: .3rem;
}

.table-bordered,
.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
}

.table-borderless tbody + tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > td,
.table-primary > th {
  background-color: #c6e0f5;
}

.table-hover .table-primary:hover,
.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #b0d4f1;
}

.table-secondary,
.table-secondary > td,
.table-secondary > th {
  background-color: #d6d8db;
}

.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #c8cbcf;
}

.table-success,
.table-success > td,
.table-success > th {
  background-color: #c7eed8;
}

.table-hover .table-success:hover,
.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #b3e8ca;
}

.table-info,
.table-info > td,
.table-info > th {
  background-color: #d6e9f9;
}

.table-hover .table-info:hover,
.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c0ddf6;
}

.table-warning,
.table-warning > td,
.table-warning > th {
  background-color: #fffacc;
}

.table-hover .table-warning:hover,
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #fff8b3;
}

.table-danger,
.table-danger > td,
.table-danger > th {
  background-color: #f7c6c5;
}

.table-hover .table-danger:hover,
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f4b0af;
}

.table-light,
.table-light > td,
.table-light > th {
  background-color: #fdfdfe;
}

.table-hover .table-light:hover,
.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6;
}

.table-dark,
.table-dark > td,
.table-dark > th {
  background-color: #c6c8ca;
}

.table-hover .table-dark:hover,
.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b9bbbe;
}

.table-active,
.table-active > td,
.table-active > th,
.table-hover .table-active:hover,
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #f8fafc;
  background-color: #212529;
  border-color: #32383e;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.table-dark {
  color: #f8fafc;
  background-color: #212529;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #32383e;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > .table-bordered {
  border: 0;
}

.order_detail > p {
  text-align: right;
  padding-right: 30px;
}

.full-height {
  height: auto;
  min-height: 100%;
}

.gallery {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.gallery p {
  max-width: 700px;
  margin: 0 auto 20px;
}

.gallery .slider {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.fb-video {
  max-width: 900px;
  margin: 0 auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.booth {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.booth .icon {
  max-width: 250px;
  margin: 0 auto 20px;
}

.booth p {
  max-width: 700px;
  margin: 0 auto 20px;
}

.booth .booth-column {
  width: 90%;
  margin: 10px 10px 30px 10px;
  text-align: center;
  vertical-align: top;
}

.booth .booth-column h4 {
  margin-bottom: 5px;
}

@media all and (min-width: 768px) {
  .booth .booth-column {
    display: inline-block;
    width: 30%;
    max-width: 300px;
  }
}
