.acc-wrapper .acc-header {
	height: 30vh;
	background-image: none;
}

.acc-wrapper .acc-header .logo img {
	width: 70%
}

.detail {
	margin: 100px 70px;
}

.detail .title{
	margin-bottom: 10px;
}

.detail .user, .detail .order {
	background-color: #F2F2F2;
	padding: 20px;
}

.detail .order {
	margin-top: 20px;
}

.detail p {
	margin: 0;
}

.detail .contact {
	height: 200px;
}

.detail .contact h2 {
	font-size: 14px;
}

.detail .contact p {
	font-size: 13px;
}

.contact .left {
	float: left;
	width: 85%;
}

.contact .right {
	float: right;
	width: 14%;
	text-align: right;
}

.contact .right img {
	width: 66%;
}