/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


/* Colorbox Core Style: The following CSS is consistent between example themes and should not be altered. */
 #colorbox, #cboxOverlay, #cboxWrapper {
     position: absolute;
     top: 0;
     left: 0;
     z-index: 9999;
     overflow: hidden;
     -webkit-transform: translate3d(0, 0, 0);
}
 #cboxWrapper {
     max-width: none;
}
 #cboxOverlay {
     position: fixed;
     width: 100%;
     height: 100%;
}
 #cboxMiddleLeft, #cboxBottomLeft {
     clear: left;
}
 #cboxContent {
     position: relative;
}
 #cboxLoadedContent {
     overflow: hidden !important;
     -webkit-overflow-scrolling: touch;
}
 #cboxTitle {
     margin: 0;
}
 #cboxLoadingOverlay, #cboxLoadingGraphic {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
 #cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
     cursor: pointer;
}
 .cboxPhoto {
     float: left;
     margin: auto;
     border: 0;
     display: block;
     max-width: none;
     -ms-interpolation-mode: bicubic;
}
 .cboxIframe {
     width: 100%;
     height: 100%;
     display: block;
     border: 0;
     padding: 0;
     margin: 0;
}
 #colorbox, #cboxContent, #cboxLoadedContent {
     box-sizing: content-box;
     -moz-box-sizing: content-box;
     -webkit-box-sizing: content-box;
}
/* User Style: Change the following styles to modify the appearance of Colorbox. They are ordered & tabbed in a way that represents the nesting of the generated HTML. */
 #cboxOverlay {
     background: url(../images/colorbox/overlay.png) repeat 0 0;
     opacity: 0.9;
     filter: alpha(opacity=90);
}
 #colorbox {
     outline: 0;
}
 #cboxTopLeft {
     width: 1px;
     height: 1px;
     background: url(../images/colorbox/controls.png) no-repeat -101px 0;
}
 #cboxTopRight {
     width: 1px;
     height: 1px;
     background: url(../images/colorbox/controls.png) no-repeat -130px 0;
}
 #cboxBottomLeft {
     width: 1px;
     height: 1px;
     background: url(../images/colorbox/controls.png) no-repeat -101px -29px;
}
 #cboxBottomRight {
     width: 1px;
     height: 1px;
     background: url(../images/colorbox/controls.png) no-repeat -130px -29px;
}
 #cboxMiddleLeft {
     width: 1px;
     background: url(../images/colorbox/controls.png) left top repeat-y;
}
 #cboxMiddleRight {
     width: 1px;
     background: url(../images/colorbox/controls.png) right top repeat-y;
}
 #cboxTopCenter {
     height: 1px;
     background: url(../images/colorbox/border.png) 0 0 repeat-x;
}
 #cboxBottomCenter {
     height: 1px;
     background: url(../images/colorbox/border.png) 0 -29px repeat-x;
}
 #cboxContent {
    /*background:#fff;
    */
     overflow: hidden;
}
 .cboxIframe {
     background: #fff;
}
 #cboxError {
     padding: 50px;
     border: 1px solid #ccc;
}
 #cboxLoadedContent {
     margin: 0;
}
 #cboxTitle {
     position: absolute;
     bottom: 4px;
     left: 0;
     text-align: center;
     width: 100%;
     color: #949494;
}
 #cboxCurrent {
     position: absolute;
     bottom: 4px;
     left: 58px;
     color: #949494;
}
 #cboxLoadingOverlay {
     background: url(../images/colorbox/loading_background.png) no-repeat center center;
}
 #cboxLoadingGraphic {
     background: url(../images/colorbox/loading.gif) no-repeat center center;
}
/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
 #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
     border: 0;
     padding: 0;
     margin: 0;
     overflow: visible;
     width: auto;
     background: none;
}
/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
 #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
     outline: 0;
}
 #cboxSlideshow {
     position: absolute;
     bottom: 4px;
     right: 30px;
     color: #0092ef;
}
 #cboxPrevious {
     position: absolute;
     bottom: 0;
     left: 0;
     background: url(../images/colorbox/controls.png) no-repeat -75px 0;
     width: 25px;
     height: 25px;
     text-indent: -9999px;
}
 #cboxPrevious:hover {
     background-position: -75px -25px;
}
 #cboxNext {
     position: absolute;
     bottom: 0;
     left: 27px;
     background: url(../images/colorbox/controls.png) no-repeat -50px 0;
     width: 25px;
     height: 25px;
     text-indent: -9999px;
}
 #cboxNext:hover {
     background-position: -50px -25px;
}
 #cboxClose {
     position: absolute;
     top: 0;
     right: 0;
     background: url(../images/colorbox/controls.png) no-repeat -25px 0;
     width: 25px;
     height: 25px;
     text-indent: -9999px;
}
 #cboxClose:hover {
     background-position: -25px -25px;
}
/* The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill when an alpha filter (opacity change) is set on the element or ancestor element. This style is not applied to or needed in IE9. See: http://jacklmoore.com/notes/ie-transparency-problems/ */
 #cboxContent {
     text-align: center;
}
 .colorbox-title {
     text-align: center;
     font-size: 22px;
     margin: 10px 0 10px 10px;
}
 .colorbox-text {
     text-align: center;
     font-size: 16px;
     margin: 10px 0 10px 10px;
}
 .colorbox-text a {
     color: blue;
}
